:root {
  --bg-primary: #ffffff;
  --bg-secondary: #151515;
  --bg-tertiary: #e62429;

  --bg-transparent: rgba(15,15,15,.8);

  --text-primary: #000000;
  --text-secondary: #fff;
  --text-tertiary: #767676;
}

body {
  font-family: "Roboto","Trebuchet MS",Helvetica,Arial,sans-serif;
}
